<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GEO RDAP SITE</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1>Welcome to GEO ip and RDAP site </h1>
    <button target="_blank" class="btn btn-primary"><a href="https://github.com/carlosm1795/pythonHomework/tree/master">Git Hub Code</a></button>
    <button target="_blank" class="btn btn-primary"><a href="https://github.com/carlosm1795/pythonHomework/blob/master/UserGuide.pdf">User Guide</a></button>
    <button class="btn btn-primary"><a href="{{url_for('geoIP')}}">Run Application</a></button>

    {% endblock %}
  </body>
</html>