<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GEO RDAP SITE</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1>Welcome to GEO ip and RDAP site </h1>
    <a href="https://github.com/carlosm1795/pythonHomework/tree/master">Git Hub Code</a>
    <a href="https://github.com/carlosm1795/pythonHomework/tree/master">User Guide</a>
    <a href="https://github.com/carlosm1795/pythonHomework/tree/master">Run Application</a>

    {% endblock %}
  </body>
</html>